# Build artifacts
/target
/web/dist

/songs/*
!/songs/README.md
!/songs/Code Monkey.sng
!/songs/Discipline.sng
!/songs/This Week I've Been Mostly Playing Guitar.sng

# OS junk
.DS_Store
**/.DS_Store

# Editor state
.idea/
.vscode/
*.swp
.claude/
